.header {
  margin: 30px 0;

  display: flex;
  justify-content: center;

  &__title {
    text-align: center;

    &--special {
      margin-top: 10px;

      font-family: $fontFriends;
      font-size: 25px;
      letter-spacing: 8px;

      .dotRed {
        color: $colorRedBasic;
      }

      .dotYellow {
        color: $colorYellowBasic;
      }

      .dotBlue {
        color: $colorBlueBasic;
      }
    }
  }
}