.formNewQuote {
  margin: 30px;

  text-align: center;

  &__title {
    font-family: $fontTitle;

    @media all and (min-width: 480px) {
      font-size: 20px;

      display: flex;
      justify-content: center;
    }
  }
}

.newQuote__label, .newQuote__label {
  margin: 5px;

  font-family: $fontSubitle;
  text-align: center;

  display: block;

  @media all and (min-width: 480px) {
    font-size: 20px;
  }
}

.newQuote__input, .newQuote__button {
  border: 3px ridge $colorShadowBlack;

  height: 30px;
  width: 200px;

  margin: 0 8px;
  padding: 5px;

  font-family: $fontButton;
  font-size: 15px;

  @media all and (min-width: 480px) {
    height: 35px;
    width: 400px;

    padding: 10px;

    font-size: 18px;
  }
}

.newQuote__button {
  margin: 20px auto;
  padding: 5px;

  height: 40px;
  width: 160px;

  font-family: $fontButton;
  font-size: 18px;
  text-align: center;

  display: block;
}