.quotes {
  margin: 20px;

  &__item {
    background-color: $colorBackgroundItem;
    border: 1.8px $colorBorderItem solid;
    border-radius: 3px;

    box-shadow:
      5px 3px 11px $colorShadowBlack, 
      -5px -4px 15px $colorWhite;

    margin: 8px 0;
    padding: 8px;

    text-align: justify;
  }
}