.containerBackground {
  background-image: url(../../images/641478.JPEG);
  box-shadow: 0 0 15px 10px #C3C4C5 inset;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

  height: 250px;
  max-width: 360px;

  margin: 10px auto 0;

  position: relative;
  bottom: 0;
}