.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

@font-face {
  font-family: 'FriendsFont';
  src: url('../../fonts/Gabriel-Weiss-Friend-Font.TTF');
}