// Fonts
$fontFriends: 'FriendsFont', sans-serif;
$fontTitle: 'Sedgwick Ave', cursive;
$fontQuotes: 'Nothing You Could Do', cursive;
$fontCharacter: 'Indie Flower', cursive;
$fontButton: 'Englebert', sans-serif;

// Colors
$colorWhite: #ffffff;
$colorRedBasic: #ff0000;
$colorYellowBasic: #FEF706;
$colorBlueBasic: #009EFD;
$colorBlackc: #000000;

$colorBackground: #C3C4C5;
$colorBackgroundItem: #e2e2e2c0;
$colorBorderItem: #99A2A4;

$colorShadowBlack: #828686;